:root {
    --white: #FFFFFF;
    --black: #181616;
    --blackbody: #494949;
}

body {
    background: var(--blackbody);
    color: var(--fontColor);
    font-family: Arial;
    margin: 0;
}

.righter {
    justify-content: right;
    display: flex;
    flex-direction: row;
}

.lefter {
    justify-content: left;
    display: flex;
    flex-direction: row;
}

.toper-h1{
    font-weight: 900;
    font-size: 20pt;
    margin: auto;
}

.toper-h2{
    font-weight: 100;
    font-size: 20pt;
    margin: auto;
    margin-left: 32px;
}

.logo {
    width: 44.4px;
    margin: 10px;
}

.toper {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 18px;
    justify-content: space-between;
    background-color: #181616;
}

.scrole {
    margin: 0;
    overflow-y: auto;
}

.container {
    margin: 12px;
}

.card{
    background-color: #181616;
    padding: 12px;
    border-radius: 4px;
    margin-top: 12px;
}

.card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-righter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 64px;
}

.card-lefter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 64px;
}

h2{
    margin: 0px;
}

h3{
    color: #a5a5a5;
}

.contact{
    margin: 0px;
}

.voiture-one{
    width: 652px;
    margin-right: 32px;
}

.voiture-two{
    width: 511px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.voiture-three{
    width: 390px;
    margin: 32px;
}

/* Thème sombre par défaut */
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
}

/* Theme clair */
.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
}